<div class="main back-grey p-40">
    <div class="back-white shadow-block p-20-15"> 
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mb-40 title-with-border">{{title}}</h1>
            </div>
        </div>
        <form [formGroup]="profileForm" (submit)="onSubmit()">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="mb-10"> Name </h3>
                </div>
            </div>
            <div class="row" formGroupName="name">
                <div class="col-sm-4">
                    <input type="text" placeholder="First Name" class="form-control" formControlName="firstName" autocomplete="off">
                </div>
                <div class="col-sm-4">
                    <input type="text" placeholder="Middle Name" class="form-control" formControlName="middleName" autocomplete="off">
                </div>
                <div class="col-sm-4">
                    <input type="text" placeholder="Last Name" class="form-control" formControlName="lastName" autocomplete="off">
                </div>
            </div>
            <hr class="border-info">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="mb-10"> Contact </h3>
                </div>
            </div>
            <div class="row" formGroupName="contact">
                <div class="col-sm-4">
                    <input type="email" placeholder="Email Address" class="form-control" formControlName="email" autocomplete="off">
                    <p *ngIf="contactFields.controls.email.status == 'INVALID' && contactFields.controls.email.dirty == true" class="color-danger mtb-10"> Enter valid email address</p>
                </div>
                <div class="col-sm-4">
                    <input type="tel" placeholder="Phone Number" class="form-control" maxlength="14" minlength="10" formControlName="phone" autocomplete="off">
                    <p *ngIf="contactFields.controls.phone.status == 'INVALID' && contactFields.controls.phone.dirty == true" class="color-danger mtb-10"> Enter valid phone number</p>
                </div>
                <div class="col-sm-4">
                    <input type="tel" placeholder="Whastapp Number" class="form-control" maxlength="14" minlength="10" formControlName="whatsAppPhone" autocomplete="off">
                    <p *ngIf="contactFields.controls.whatsAppPhone.status == 'INVALID' && contactFields.controls.whatsAppPhone.dirty == true" class="color-danger mtb-10"> Enter valid phone number </p>
                </div>
            </div>
            <hr class="border-info">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="mb-10"> Location </h3>
                </div>
            </div>
            <div class="row" formGroupName="location">
                <div class="col-sm-4">
                    <textarea placeholder="Address" class="form-control" style="height: 85px;" formControlName="address"></textarea>
                </div>
                <div class="col-sm-4">
                    <input type="text" placeholder="Country" class="form-control mb-10" formControlName="country" autocomplete="off">
                    <input type="text" placeholder="State" class="form-control" formControlName="state" autocomplete="off">
                </div>
                <div class="col-sm-4">
                    <input type="text" placeholder="City" class="form-control mb-10" formControlName="city" autocomplete="off">
                    <input type="text" placeholder="Zip" class="form-control" formControlName="zip" autocomplete="off">
                    <p *ngIf="addressFields.controls.zip.status == 'INVALID' && addressFields.controls.zip.dirty == true" class="color-danger mtb-10"> Enter valid zip number </p>

                </div>
            </div>
            <hr class="border-info">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="mb-10"> Password </h3>
                </div>
            </div>
            <div class="row" formGroupName="key">
                <div class="col-sm-6">
                    <input type="password" placeholder="Password" class="form-control" formControlName="password" autocomplete="off">
                </div>
                <div class="col-sm-6">
                    <input type="password" placeholder="Confirm Password" class="form-control" formControlName="cPassword" autocomplete="off">
                    <p *ngIf="(passwordFields.controls.cPassword.value != passwordFields.controls.password.value) && (passwordFields.controls.cPassword.dirty == true)" class="color-danger mtb-10"> Password do not match </p>
                </div>
            </div>
            <hr class="border-info">
            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-success" [disabled]="(!profileForm.valid) || (passwordFields.controls.cPassword.value != passwordFields.controls.password.value)"> Submit </button> &nbsp;&nbsp;
                <button type="submit" class="btn btn-lg btn-danger" (click)="resetForm()" > Cancel </button>
            </div>
        </form>
    </div>
</div>