/* GLOBAL */
.block { display: block; }
.flex-align-middle { display: flex; align-items: center; width: 100%; }

/* After Border */
.title-with-border:after {
    content: '';
    display: block;
    height: 8px;
    width: 50px;
    background-color: #17a2b8;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Box Shadow */
.shadow-block { box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); }

/* BACKGROUNDS */
.back-grey { background-color: #f0f0f0; }
.back-white { background-color: #ffffff; }

/* SPACING */
/* Margin */
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-50 { margin-bottom: 50px; }
.mtb-10 { margin-top: 10px; margin-bottom: 10px; }

/* Padding */
.p-40 { padding: 40px; }
.p-20-0 { padding: 20px 0px; }
.p-20-15 { padding: 20px 15px; }

/* COLOR */
.color-info { color: #17a2b8; }
.color-danger { color: red; }

/* BORDER COLOR */
.border-info { border-color: #17a2b8; }

/* FONTS */

/*  */
input.form-control:focus { box-shadow: none; border-color: #17a2b8; }

/* REGISTRATION PAGE */
.main { height: 100vh; overflow-y: auto; }